@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(255, 0, 0, 0.9);
    /*color: darkblue;*/
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
}

p, a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: 30px;
}

button {
    margin: 20px;
}

#inputFrom9block {
    margin: 20px 20px 20px 60px;
}

#block10thInputHeader {
    margin: 60px 0 0 60px;
    color: blue;
}